.nav {
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  padding-left:.5rem;
  padding-right:.5rem;
  cursor: crosshair;
}

.nav-active {
  color: tomato;
  background-color: black;
}

.nav:hover{
  color: tomato;
  background-color: purple;
}
.menu-button{
  width:11rem;
}

.menu {
  width: 11rem;
  box-shadow: 1px 1px #888;
  position:absolute;
  top:3rem;
  z-index: 999;
  background-color: #fff;
  left:-22vw;
  display: flex;
  flex-direction: column;
  transition: left .3s ease-in;
}

.menu.show {
  left:0;
}
